<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101396669460-bn4kcm4maa1o321t1ce2f9fjcs0755e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101396669460-bn4kcm4maa1o321t1ce2f9fjcs0755e0</string>
	<key>API_KEY</key>
	<string>AIzaSyD1yzLT-YsrKnGBpqYae-kBzxhrHzFzGvY</string>
	<key>GCM_SENDER_ID</key>
	<string>101396669460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yodadev.mcproject</string>
	<key>PROJECT_ID</key>
	<string>mcproject-1234</string>
	<key>STORAGE_BUCKET</key>
	<string>mcproject-1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101396669460:ios:bc2f5f9a4122f0ddd8f301</string>
	<key>DATABASE_URL</key>
	<string>https://mcproject-1234-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>